@keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Mueve la mitad del contenido para que no haya corte */
  }
  
  .scrolling-wrapper {
    display: flex;
    width: max-content; /* Asegura que el contenido no se corte */
    animation: infinite-scroll 40s linear infinite; /* Animaci칩n continua */
  }
  
  .scroll-content {
    display: flex;
    gap: 6rem;
  }
  
  /* Asegurar que las im치genes tengan el mismo tama침o */
  .logo {
    width: 160px; /* Tama침o fijo */
    height: 80px;
    object-fit: contain;
  }
  
  /* Responsividad */
  @media (max-width: 1024px) {
    .logo {
      width: 140px;
      height: 70px;
    }
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 120px;
      height: 60px;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      width: 100px;
      height: 50px;
    }
  }
  