<section class="py-12 bg-gray-100">
  <header class="text-center mb-10">
    <h1 class="text-4xl font-semibold text-gray-800">{{ title }}</h1>
  </header>

  <!-- Contenedor Flex para texto e imagen de lado -->
  <div class="flex flex-col lg:flex-row items-center justify-between gap-12 max-w-6xl mx-auto">
    
    <!-- Contenedor de la imagen -->
    <div class="w-full lg:w-1/2">
      <img src="assets/quienes-somos-p.jpg" alt="Quiénes Somos" class="rounded-lg shadow-lg w-full object-cover">
    </div>
    
    <!-- Contenedor del texto -->
    <article class="w-full lg:w-1/2 bg-white p-8 rounded-lg shadow-md">
      <section class="mb-4">
        <p class="text-gray-600">{{ description }}</p>
      </section>

      <section class="mb-8">
        <p class="text-gray-600 mt-4">{{ mission }}</p>
      </section>
      <section class="mb-8 text-center">
        <p class="text-gray-600 mt-4">{{ owner }}</p>
        
      </section>
       <!-- Contenedor de la imagen de perfil -->
       <div class="mt-6 text-center">
        <img src="assets/img/fotos-eventos/agacech/cigsa5.webp" alt="Foto de perfil por defecto"
             class="w-24 h-24 rounded-full object-cover border-2 border-gray-300 shadow-md mx-auto">
        
        <a href="https://www.instagram.com/safincorp.seguros?utm_source=qr&igsh=MWQ5ZmxoMGF1dDlpcw=="><!-- Botón estilizado debajo de la imagen -->
        <button class="mt-4 px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 hover:shadow-lg transition duration-300 ease-in-out">
            Conoce más Aquí
        </button>
      </a>
    </div>
    
      
    </article>
    
  </div>
  <div  class="w-full lg:w-2/3   mx-auto mt-16 text-center">
    <!-- Título de la sección -->
    <h3 class="text-3xl font-semibold text-gray-800 mb-6">Nuestras Redes Sociales</h3>
    
    <!-- Imagen de Instagram -->
    <a href="https://www.instagram.com/safincorp.seguros?utm_source=qr&igsh=MWQ5ZmxoMGF1dDlpcw=="><img src="assets/logo-instagram.webp" alt="Instagram Logo" class="mx-auto cursor-pointer max-w-xs rounded-md shadow-lg"></a>
</div>

</section>
